.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: rgb(67, 200, 215);
  background: linear-gradient(
    45deg,
    rgba(67, 200, 215, 1) 0%,
    rgba(172, 199, 255, 1) 100%
  );
}
