@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: #faf9f8;
  display: flex;
  flex-direction: column;
}

.Title {
  font-family: "Patua One", cursive;
  font-size: 40px;
  color: white;
  width: 100vw;
  margin: 0;
  text-align: left;
  position: relative;
  top: 0;
  left: 0;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(1, 74, 255);
  background: linear-gradient(
    90deg,
    rgba(1, 74, 255, 1) 0%,
    rgba(0, 56, 255, 1) 15%,
    rgba(0, 212, 255, 1) 100%
  );
}

.task {
  background: #ffffff;
  box-shadow: 2px 2px 4px #c3c3c3, -2px -2px 4px #fdfdfd;
  border-radius: 5px;
  display: flex;
  width: 50vw;
  height: 5vh;
  margin-top: 2vh;
  align-items: center;
}

.task:hover {
  background-color: #f5f5f5;
}

#tasklist {
  list-style: none;
  padding: 0;
  padding-left: 3vw;
  margin: 0;
}
.inputField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.taskInput {
  margin-top: 2vh;
  width: 95vw;
  height: 8vh;
  color: black;
  border: none;
  box-shadow: 2px 2px 4px #c3c3c3, -2px -2px 4px #fdfdfd;
  padding-left: 3%;
}
.taskInput:focus {
  outline: none;
}

.App form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.plus {
  position: relative;
  width: 2vw;
  height: 2vw;
  top: 1vh;
  left: 2.5vw;
}

.plus::before,
.plus::after {
  content: "";
  position: absolute;
  background: black;
}

/* the vertical line */
.plus::before {
  left: 50%;
  top: 4px;
  bottom: 4px;
  width: 2px;
  transform: translateX(-50%);
}

/* the horizontal line */
.plus::after {
  top: 50%;
  left: 4px;
  right: 4px;
  height: 2px;
  transform: translateY(-50%);
}

form label {
  position: relative;
  width: fit-content;
  top: 2vh;
  left: 4vw;
}

.task button {
  content: "";
  border: 2px solid #252525;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: white;
  margin-left: 2%;
  margin-right: 2%;
}

.taskDone {
  background-color: blue !important;
}

.task.completed {
  text-decoration: line-through;
}
